<ng-container *ngIf="(currentUserList$ | async) as users">
    <div class="container">
        <form (ngSubmit)="onSearchSubmit(searchFG,formDirective)" [formGroup]="searchFG" #formDirective="ngForm" class="search_input">
            <mat-form-field class="full-width" appearance="outline" floatLabel="auto">
                <input matInput placeholder="Search or start new chat" formControlName="user_search" required>
            </mat-form-field>
            <button mat-flat-button (click)="onSearchSubmit(searchFG,formDirective)" class="user-list-btn">Search</button>
            <button mat-flat-button (click)="clearFilters()" class="user-list-btn">Clear</button>

        </form>
        <button mat-flat-button class="user-list-btn" (click)="createUser()" id="createUser"> Create new user</button>

        <mat-drawer-container class=" user-list-container ">
            <mat-selection-list [multiple]="false ">
                <mat-list-option *ngFor="let user of users " (click)="selectUser(user) ">
                    <div class="bot-user ">
                        <div class="bot-pic "><img src="../../AngularChatApp/assets/img/bot.png " alt=" "></div>
                        <div class="name-and-text ">
                            <div class="userNameGet ">{{ userNameGet(user) }}</div>
                            <div class="userTextGet ">Some joke</div>
                        </div>

                        <div class="userTimeGet ">{{ userTimeGet(user) }}</div>
                    </div>

                </mat-list-option>
                <mat-list-option *ngIf="users.length===0 ">
                    <span>User List is empty!</span>
                </mat-list-option>
            </mat-selection-list>
        </mat-drawer-container>

    </div>
</ng-container>